/** ELEMENTI FONDAMENTALI **/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 5rem;
    --primary-color: rgb(51, 102, 255);
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 999;
    box-shadow: 0 1px 2px #DEDEDE;
}

main{
    padding-top: var(--navbar-height);
}

footer{
    background-color: black;
    color: white;
}

/* CONTAINER */

.container{
    display: flex;
    justify-content: center;
}

.containerBig{
    width: 100%;
    margin-top: 100px;
}

.containerBig2{
    width: 100%;
    background-color: rgb(204, 230, 255);
    height: 300px;
}

.containerBig3{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.containerSmall{
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.containerSmall2{
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.containerSmall3{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerSmall4{
    width: 50%;
    margin: 0 auto;
}

.containerSmart{
    width: 65%;
    padding: 50px 0;
    display: flex;
}

/* VARI H */

h1{
    font-size: 70px;
}

h2{
    font-size: 40px;
    margin: 90px 0 60px 0;
}

h2.business{
    margin: 0;
    font-size: 35px;
}

h5{
    padding: 10px 0;
}

/* VARI BUTTON */

button{
    padding: 10px;
    margin: 30px 0;
    background-color: var(--primary-color);
    color: white;
    border: none;
    display: inline-block;
}

.free-btn{
    width: 100%;
}

.free-btn1{
    width: 80%;
}

/* TOP NAVIGATION BAR */

.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.begin{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li.item{
    color: black;
}

.item{
    list-style-type: none;
    padding: 0 16px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.hdr{
    text-decoration: none;
    color: black;
}

.hdr-white{
    text-decoration: none;
    color: white;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    padding: 5px 16px;
}

/* JUMBOTRON */

.jumbotron{
    width: 100%;
    height: 700px;
    background-color: rgb(153, 204, 255);
    margin: 0 auto 30px auto;
}

.jumbo-container{
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;
}

.jumbo-img{
    width: 100%;
    padding: 32px 0;
}

.bigColumn{
    width: 67%;
}

.smallColumn{
    width: 33%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}



/* PLANS SECTION */

.main-container{
    width: 50%;
    margin: 0 auto;
}

.plans{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 20px;
}

.radio{
    border: 5px solid var(--primary-color);
    background-color: white;
    height: 1.25em;
    width: 1.25em;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.radio-label{
    vertical-align: middle;
    margin-right: 10px;
}

.containerPlan{
    width: calc(100% / 3);
    border: gray 1px solid;
    margin-right: 40px;
}

.single{
    text-align: center;
    padding: 5px 0;
}

.single-content{
    padding: 16px;
}

.size{
    font-size: 13px;
    padding-top: 30px;
}

.month{
    color: grey;
}

.prf-cnt{
    padding: 10px 0;
    text-indent: -10px;
}

.fa-arrow-down{
    margin-top: 80px;
    font-size: 3.5em;
}

.fa-check{
    color: var(--primary-color);
}

.fa-user, .fa-users, .fa-building, .fa-folder, .fa-share-nodes, .fa-check{
    padding-right: 5px;
    margin-left: 20px;
}

.short{
    width: 20%;
    color: grey;
    margin: 30px 0;
}

.vantaggi{
    list-style-type: none;
}

.space{
    padding: 16px 0;
}

.team{
    width: 50%;
    margin: 0 auto;
    border: gray 1px solid;
    margin-top: 50px;
}

.contentTeam{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.conTm{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sinistra{
    width: 67%;
    margin: 30px 30px;
}

.destra{
    width: 33%;
}

a:visited.visto{
    color: blue;
}

/* PARTNER SECTION */

.change-img{
    width: 90%;
}

#clear{
    padding: 10px;
    margin: 30px 0;
    display: inline-block;
    background-color: white;
    color: black;
    border: black 1px solid;
}

/* BUSINESS FEATURE SECTION */

.container-bsn{
    margin-top: 40px;
    width: calc(100% / 3);
}

.card{
    padding: 10px 10px 0 0;
    margin-right: 20px;
}

.mt{
    margin-top: 40px;
}



/* CUSTOMER SECTION */

.container-cst{
    display: flex;
}

.first-square{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.second-square{
    width: 100%;
    padding: 50px;
    background-color: lightgray;
}

.design{
    width: 50%;
    height: 258.6px;
    background-color: rgb(204, 255, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arizona{
    width: 50%;
    height: 50%;
    background-color: rgb(102, 0, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.florida{
    width: 50%;
    height: 258.6px;
    background-color: rgb(77, 184, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.topps{
    width: 50%;
    height: 258.6px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bicycle{
    width: 50%;
    height: 258.6px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearts{
    width: 50%;
    height: 258.6px;
    background-color: rgb(204, 230, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet{
    width: 50%;
    height: 258.6px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel{
    width: 50%;
    height: 258.6px;
    background-color: rgb(255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-square{
    width: 50%;
}

.img-des{
    width: 40%;
}

#person{
    margin-top: 30px;
}

/* FREE TRIAL SECTION */

#dpb{
    color: rgb(102, 0, 51);
}

#trial-btn{
    background-color: white;
    color: black;
    margin-left: 80px;
}

.mybss{
    width: 67%;
}

.free-trial{
    width: 33%;
}

/* FAQ SECTION */

.faq-space{
    margin: 20px 0;
}
.faq-content{
    display: inline-block;
}

.fa-chevron-down{
    margin-left: 400px;
}

/* FOOTER SECTION */

.foot-content{
    margin-bottom: 20px;
}

.foot-item{
    list-style-type: none;
    padding: 5px 0;
    font-size: 15px;

}

.list-white{
    color: white;
}

.col{
    width: calc(100% / 5);
    margin: 40px 30px 0 0;
}

/* HOVER */

#clear:hover{
    background-color: black;
    color: white;
}

#trial-btn:hover{
    background-color: black;
    color: white;
}

.foot-item:hover{
    text-decoration: underline;
}