/** ELEMENTI FONDAMENTALI **/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 5rem;
    --primary-color: rgb(51, 102, 255);
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 999;
    box-shadow: 0 1px 2px #DEDEDE;
}

main{
    padding-top: var(--navbar-height);
}

footer{
    background-color: black;
    color: white;
}

/** CONTENUTO HEADER **/

.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.begin{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li{
    color: black;
}

.item{
    list-style-type: none;
    padding: 0 16px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.hdr{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    padding: 5px 16px;
}

/** CONTENUTO MAIN **/

.jumbotron{
    width: 100%;
    height: 700px;
    background-color: rgb(153, 204, 255);
    margin: 0 auto 30px auto;
}

.jumbo-container{
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;
}

.container{
    display: flex;
    justify-content: center;
}

.jumbo-img{
    width: 100%;
    padding: 32px 0;
}

.bigColumn{
    width: 67%;
}

.smallColumn{
    width: 33%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.main-container{
    width: 50%;
    margin: 0 auto;
}

.plans{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: black 1px solid;
    margin-top: 50px;
    margin-right: 20px;
}

.containerPlan{
    width: calc(100% / 3);
    display: flex;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 40px;
    margin: 90px 0 60px 0;
}

h5{
    padding: 10px 0;
}

button{
    padding: 10px;
    margin: 30px 0;
    background-color: var(--primary-color);
    color: white;
    border: none;
    display: inline-block;
}

.free-btn{
    width: 100%;
}

.dot{
    padding-right: 20px;
}
.single{
    text-align: center;
}

.single-content{
    padding: 16px;
}

.month{
    color: grey;
}

.prf-cnt{
    padding: 10px 0;
}

.fa-arrow-down{
    margin-top: 80px;
    font-size: 3.5em;
}

.fa-user, .fa-folder, .fa-share-nodes, .fa-check{
    padding-right: 5px;
}

.short{
    width: 20%;
    color: grey;
    margin: 30px 0;
}

.vantaggi{
    list-style-type: none;
}

.space{
    padding: 16px 0;
}

.fa-check{
    color: var(--primary-color);
}

